[Service]
WorkingDirectory=/app
ExecStart=/usr/local/bin/node app.js 
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=node_app
User=ubuntu
Group=ubuntu
Environment='NODE_ENV=production'

[Install]
WantedBy=multi-user.target